.ball {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}

#input-row {
    margin-top: 50px;
}

.answer {
    color: rgb(98, 143, 146);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    width: 20%;
    font-size: 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}